<?xml version="1.0"?>
<config>
 
 <!-- Configuration de base du Module -->
    <modules>
        <Hhennes_ProdutGridFilter>
            <version>0.2.0</version>    
        </Hhennes_ProdutGridFilter>
    </modules>
 
 <!-- Configuration globale -->
    <global>
        <models>
            <hhennes_productgridfilter>
                <class>Hhennes_ProductGridFilter_Model</class>    
            </hhennes_productgridfilter>
        </models>
        <helpers>
            <hhennes_productgridfilter>
                <class>Hhennes_ProductGridFilter_Helper</class>    
            </hhennes_productgridfilter>
        </helpers>
    </global>
    
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                   <product_filter_reference>
                        <class>hhennes_productgridfilter/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </product_filter_reference>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <product_filter_reference_load>
                        <class>hhennes_productgridfilter/observer</class>
                        <method>onEavLoadBefore</method>
                    </product_filter_reference_load>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <translate>
            <modules>
                <Hhennes_ProductGridFilter>
                    <files>
                        <default>Hhennes_ProductGridFilter.csv</default>
                    </files>
                </Hhennes_ProductGridFilter>
            </modules>
        </translate>
    </adminhtml>
    
</config>
